<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item routerLink="/checkbox">
      Pagina de Checkbox
    </ion-item>

    <ion-item routerLink="/range">
      Pagina de Range
    </ion-item>

  </ion-list>


</ion-content>
